
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/SuperUser/Views/Shared/_SuperUserLayout.cshtml";
}

<div class="col-lg-12 col-md-12">
    <h4 class="card-title text-dark">
        <a href="staff.html">
            <svg width="40" height="40">
                <path d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554 c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587 c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"
                      style="fill: rgb(0, 0, 0);"></path>
            </svg>
        </a> Create Entity
    </h4>

    <div class="card">
        <div class="card-body">

            <form class="row">
                <div class="col-lg-6 col-6 form-group">
                    <label for="interest-field">First Name: *</label>
                    <input type="text" class="form-control" id="txtFirstName">

                </div>
                <div class="col-lg-6 col-6 form-group">
                    <label for="interest-field">Last Name: *</label>
                    <input type="text" class="form-control" id="txtLastName">
                </div>

                <div class="col-lg-6 col-6 form-group ">
                    <label for="interest-field">Hospital Name: *</label>
                    <input type="text" class="form-control" id="txtHospitalName">

                </div>
                <div class="col-lg-6 col-6 form-group">

                    <label for="interest-field">Created Date: *</label>
                    <input type="date" class="form-control datepicker" id="txtCreatedDate" data-date-format="dd/mm/yyyy">
                </div>

                <div class="col-lg-6 col-6 form-group ">

                    <label for="interest-field">Email: *</label>
                    <input type="text" class="form-control" id="txtEmail">
                </div>
                <div class="col-lg-6 col-6 form-group ">

                    <label for="interest-field">Mobile Number: * </label>
                    <input type="text" class="form-control" id="txtMobileNumber">
                </div>

                <div class="col-lg-6 col-6 form-group ">

                    <label for="interest-field">Telephone Number 1</label>
                    <input type="text" class="form-control" id="txtTelephoneNumber1">
                </div>
                <div class="col-lg-6 col-6 form-group ">

                    <label for="interest-field">Telephone Number 2</label>
                    <input type="text" class="form-control" id="txtTelephoneNumber2">
                </div>

                <div class="col-lg-6 col-6 form-group ">

                    <label for="interest-field">Contact Person Name: *</label>
                    <input type="text" class="form-control" id="txtContactPersonName">
                </div>
                <div class="col-lg-6 col-6 form-group ">
                    <label for="interest-field">Contact Person Number: *</label>
                    <input type="text" class="form-control" id="txtContactPersonNumber">
                </div>

                <div class="col-lg-6 col-6 form-group ">
                    <label for="interest-field">Address:</label>
                    <input type="text" class="form-control" id="txtAddress">
                </div>
                <!--<div class="col-lg-6 col-6 form-group ">
                    <label for="interest-field">Branches</label>-->
                    @*<input type="text" class="form-control" id="txtBranches" data-role="tagsinput" />*@
                    <!--<input name="tags-1" type="text" value="" class="form-control form-tags" id="txtBranches">
                </div>-->
                <div class="col-lg-6 col-6 form-group ">
                    <label for="interest-field">Established Year: </label>
                    <input type="text" class="form-control yearpicker" id="txtEstablishedYear">
                </div>
                <div class="col-lg-12 col-12  form-group">
                    <button type="submit"
                            class="btn btn-success  waves-effect waves-light modal-btn" id="btnCreate">
                        Create
                        Entity
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var CreateEntity = '@Url.Action("Create", "Entity")';
</script>

